<li class="gear-card item" data-item-id="{{_id}}">
  <header class="card-header flexrow">
    <div class="item-image" style="background-image: url('{{img}}')"></div>
    <button type="button" class="item-name">{{name}}</button>
    <div class="item-controls">
      <button type="button" class="item-control item-show">
        <i class="far fa-comment-alt"></i>
      </button>
    </div>
  </header>
  <div class="card-content" style="display: none">
    {{#if (eq type 'gear')}} {{{enrich data.data.description}}} {{else}} {{>
    "systems/swade/templates/shared-partials/action-card.html"}} {{/if}}
  </div>
</li>
