<li class="item skill skill-card" data-item-id="{{_id}}">
  <header class="card-header flexrow" data-item-id="{{_id}}">
    <img class="skill-icon" src="{{img}}" />
    <button type="button" class="skill-name item-name" title="{{name}}">
      {{#if data.isCoreSkill}}★ {{/if}}{{name}}{{#if data.attribute}}
      ({{localizeSkillAttribute data.attribute}}){{/if}}
    </button>
    <button
      type="button"
      class="skill-die"
      title="{{localize 'SWADE.Roll'}} {{name}}"
    >
      d{{data.die.sides}}{{modifier data.die.modifier}}
    </button>
    <div class="item-controls">
      {{#if owner}}
      <button
        type="button"
        class="item-control item-edit"
        title="{{localize 'SWADE.Ed'}} {{name}}"
      >
        <i class="fas fa-edit"></i>
      </button>
      {{/if}}
    </div>
  </header>
  <div class="card-content" style="display: none;">
    {{#if data.description}} {{enrich data.description}} {{else}}
    <div class="swade-core"><p>No description available</p></div>
    {{/if}}
  </div>
</li>
