<header class="header-field flexrow">
  <span style="flex: 1">{{localize "SWADE.Effects"}}</span>
  {{#unless data.data.isOwned}}
  <a class="header-field-add add-effect" data-transfer="true">
    <i class="fa fa-plus"></i>
  </a>
  {{/unless}}
</header>
