<header class="sheet-header">
  <div class="profile-img-container">
    <img
      class="profile-img"
      src="{{item.img}}"
      data-edit="img"
      alt="{{item.name}}"
      title="{{localize 'SWADE.RightClickZoom'}}"
    />
  </div>
  <div class="header-fields">
    <h1 class="itemname">
      <input
        name="name"
        type="text"
        value="{{item.name}}"
        placeholder="{{localize 'SWADE.Name'}}"
        data-dtype="String"
      />
    </h1>
  </div>
</header>
<nav class="flexrow tabs" data-group="primary" style="margin-bottom: 5px">
  <a class="item active" data-tab="summary">{{localize "SWADE.Desc"}}</a>
  <a class="item" data-tab="actions-effects"
    >{{localize "SWADE.ActionsEffects"}}</a
  >
</nav>
