<section class="flexrow">
  <div>
    {{localize "SWADE.CarryWeight"}}
    <strong>{{inventoryWeight}} / {{maxCarryCapacity}}</strong>
  </div>
  <div class="form-group currency">
    {{#if (eq settingrules.wealthType "currency")}}
    <label>{{settingrules.currencyName}}</label>
    <span class="form-fields">
      <input
        name="data.details.currency"
        type="text"
        value="{{data.details.currency}}"
        placeholder="{{localize 'SWADE.Currency'}}"
      />
    </span>
    {{else if (eq settingrules.wealthType "wealthDie")}}
    <label><button class="roll">{{localize "SWADE.WealthDie"}}</button></label>
    <span class="form-fields">
      <select data-dtype="Number" name="data.details.wealth.die">
        {{#select data.details.wealth.die}} {{>
        "systems/swade/templates/die-sides-options.html"}} {{/select}}
      </select>
      <input
        type="text"
        data-dtype="Number"
        name="data.details.wealth.modifier"
        value="{{signedString data.details.wealth.modifier}}"
        placeholder="{{localize 'SWADE.Mod'}}"
      />
    </span>
    {{/if}}
  </div>
</section>
<section class="inventory">
  <header class="header weapon">
    <span class="header-name">{{localize "SWADE.Weapons"}}</span>
    <span class="damage">{{localize "SWADE.Dmg"}}</span>
    <span class="ap">{{localize "SWADE.Ap"}}</span>
    <span class="note" style="text-align: center;"
      >{{localize "SWADE.Notes"}}</span
    >
    <span class="weight">{{localize "SWADE.Weight"}}</span>
    <span class="item-controls">
      <button type="button" class="item-create" data-type="weapon">
        <i class="fa fa-plus"></i>{{localize "SWADE.Add"}}
      </button>
    </span>
  </header>
  <ul>
    {{#each itemsByType.weapon as |item|}}
    <li class="item weapon" data-item-id="{{item._id}}">
      <img class="item-img" src="{{item.img}}" />
      <button
        type="button"
        class="name flexrow item-show"
        title="{{item.name}}"
      >
        {{#if (gte item.data.quantity 2)}} (x{{item.data.quantity}}) {{/if}}
        {{item.name}}
      </button>
      <span class="damage">
        {{#if item.data.damage}}
        <button type="button" class="damage-roll">{{item.data.damage}}</button>
        {{/if}}
      </span>
      <span class="ap">{{item.data.ap}}</span>
      <span class="note">{{enrich item.data.notes}}</span>
      <span class="weight">{{times item.data.weight item.data.quantity}}</span>
      <span class="item-controls">
        {{#if ../owner}}
        <button
          type="button"
          class="item-toggle {{#unless item.data.equipped}}item-unequipped{{/unless}}"
        >
          <i class="fas fa-tshirt"></i>
        </button>
        <button type="button" class="item-edit">
          <i class="fas fa-edit"></i>
        </button>
        <button type="button" class="item-delete">
          <i class="fas fa-trash"></i>
        </button>
        {{/if}}
      </span>
    </li>
    {{/each}}
  </ul>

  <header class="header armor">
    <span class="header-name">{{localize "SWADE.Armors"}}</span>
    <span class="bonus">{{localize "SWADE.Armor"}}</span>
    <span class="min-str">{{localize "SWADE.MinStrShort"}}</span>
    <span class="note" style="text-align: center;"
      >{{localize "SWADE.Notes"}}</span
    >
    <span class="weight">{{localize "SWADE.Weight"}}</span>
    <span class="item-controls">
      <button type="button" class="item-create" data-type="armor">
        <i class="fa fa-plus"></i>{{localize "SWADE.Add"}}
      </button>
    </span>
  </header>
  <ul>
    {{#each itemsByType.armor as |item|}}
    <li class="item armor" data-item-id="{{item._id}}">
      <img class="item-img" src="{{item.img}}" />
      <button
        type="button"
        class="name flexrow item-show"
        title="{{item.name}}"
      >
        {{#if (gte item.data.quantity 2)}} (x{{item.data.quantity}}) {{/if}}
        {{item.name}}
      </button>
      <span class="bonus"> {{item.data.armor}} </span>
      <span class="min-str">{{item.data.minStr}}</span>
      <span class="note">{{enrich item.data.notes}}</span>
      <span class="weight">{{times item.data.weight item.data.quantity}}</span>
      <span class="item-controls">
        {{#if ../owner}}
        <button
          type="button"
          class="item-toggle {{#unless item.data.equipped}}item-unequipped{{/unless}}"
        >
          <i class="fas fa-tshirt"></i>
        </button>
        <button type="button" class="item-edit">
          <i class="fas fa-edit"></i>
        </button>
        <button type="button" class="item-delete">
          <i class="fas fa-trash"></i>
        </button>
        {{/if}}
      </span>
    </li>
    {{/each}}
  </ul>

  <header class="header shield">
    <span class="header-name">{{localize "SWADE.Shields"}}</span>
    <span class="parry">{{localize "SWADE.Parry"}}</span>
    <span class="cover">{{localize "SWADE.Cover"}}</span>
    <span class="note" style="text-align: center;"
      >{{localize "SWADE.Notes"}}</span
    >
    <span class="weight">{{localize "SWADE.Weight"}}</span>
    <span class="item-controls">
      <button type="button" class="item-create" data-type="shield">
        <i class="fa fa-plus"></i>{{localize "SWADE.Add"}}
      </button>
    </span>
  </header>
  <ul>
    {{#each itemsByType.shield as |item|}}
    <li class="item shield" data-item-id="{{item._id}}">
      <img class="item-img" src="{{item.img}}" />
      <button
        type="button"
        class="name flexrow item-show"
        title="{{item.name}}"
      >
        {{#if (gte item.data.quantity 2)}} (x{{item.data.quantity}}) {{/if}}
        {{item.name}}
      </button>
      <span class="parry">{{item.data.parry}}</span>
      <span class="cover">{{enrich item.data.cover}}</span>
      <span class="weight">{{times item.data.weight item.data.quantity}}</span>
      <span class="item-controls">
        {{#if ../owner}}
        <button
          type="button"
          class="item-toggle {{#unless item.data.equipped}}item-unequipped{{/unless}}"
        >
          <i class="fas fa-tshirt"></i>
        </button>
        <button type="button" class="item-edit">
          <i class="fas fa-edit"></i>
        </button>
        <button type="button" class="item-delete">
          <i class="fas fa-trash"></i>
        </button>
        {{/if}}
      </span>
    </li>
    {{/each}}
  </ul>

  <header class="header misc">
    <span class="header-name">{{localize "SWADE.Misc"}}</span>
    <span class="weight">{{localize "SWADE.Weight"}}</span>
    <span class="item-controls">
      <button type="button" class="item-create" data-type="gear">
        <i class="fa fa-plus"></i>{{localize "SWADE.Add"}}
      </button>
    </span>
  </header>
  <ul>
    {{#each itemsByType.gear as |item|}}
    <li class="item misc" data-item-id="{{item._id}}">
      <img class="item-img" src="{{item.img}}" />
      <button
        type="button"
        class="name flexrow item-show"
        title="{{item.name}}"
      >
        (x{{item.data.quantity}}) {{item.name}}
      </button>
      <span class="weight">{{times item.data.weight item.data.quantity}}</span>
      <span class="item-controls">
        {{#if ../owner}} {{#if item.data.equippable}}
        <button
          type="button"
          class="item-toggle {{#unless item.data.equipped}}item-unequipped{{/unless}}"
        >
          <i class="fas fa-tshirt"></i>
        </button>
        {{/if}}
        <button type="button" class="item-edit">
          <i class="fas fa-edit"></i>
        </button>
        <button type="button" class="item-delete">
          <i class="fas fa-trash"></i>
        </button>
        {{/if}}
      </span>
    </li>
    {{/each}}
  </ul>
</section>
