<div class="fatigue-wrapper" title="{{localize 'SWADE.Fatigue'}}">
  <span class="label">{{localize 'SWADE.Fatigue'}}</span>
  <div class="fatigue">
    <span class="values">
      <input
        type="number"
        name="data.fatigue.value"
        value="{{data.data.fatigue.value}}"
      />/{{data.data.fatigue.max}}
    </span>
  </div>
</div>
<div class="wounds-wrapper" title="{{localize 'SWADE.Wounds'}}">
  <span class="label">{{localize 'SWADE.Wounds'}}</span>
  <div class="wounds">
    <span class="values">
      <input
        type="number"
        name="data.wounds.value"
        value="{{data.data.wounds.value}}"
      />/{{data.data.wounds.max}}
    </span>
  </div>
</div>
<div class="status">
  <label class="check-container"
    >{{localize "SWADE.Shaken"}}
    <input
      type="checkbox"
      name="data.status.isShaken"
      {{checked
      data.data.status.isShaken}}
    />
    <span class="checkmark"></span>
  </label>
  <label class="check-container"
    >{{localize "SWADE.Distr"}}
    <input
      type="checkbox"
      name="data.status.isDistracted"
      {{checked
      data.data.status.isDistracted}}
    />
    <span class="checkmark"></span>
  </label>
  <label class="check-container"
    >{{localize "SWADE.Vuln"}}
    <input
      type="checkbox"
      name="data.status.isVulnerable"
      {{checked
      data.data.status.isVulnerable}}
    />
    <span class="checkmark"></span>
  </label>
</div>
<div class="status">
  <label class="check-container"
    >{{localize "SWADE.Stunned"}}
    <input
      type="checkbox"
      name="data.status.isStunned"
      {{checked
      data.data.status.isStunned}}
    />
    <span class="checkmark"></span>
  </label>
  <label class="check-container"
    >{{localize "SWADE.Entangled"}}
    <input
      type="checkbox"
      name="data.status.isEntangled"
      {{checked
      data.data.status.isEntangled}}
    />
    <span class="checkmark"></span>
  </label>
  <label class="check-container"
    >{{localize "SWADE.Bound"}}
    <input
      type="checkbox"
      name="data.status.isBound"
      {{checked
      data.data.status.isBound}}
    />
    <span class="checkmark"></span>
  </label>
</div>
<div class="bennies" title="{{localize 'SWADE.Bennies'}}">
  {{#each currentBennies as |benny|}} {{#unless (gte @index 5) }}
  <span
    title="{{localize 'SWADE.BenniesSpend'}}"
    class="benny spend-benny"
    style="z-index: {{@index}}; grid-column: {{benny}} / span 8; background-image: url({{../bennyImageURL}});"
  ></span>
  {{/unless}} {{/each}}
  <button type="button" class="add-benny" title="{{localize 'SWADE.AddBenny'}}">
    <i class="fas fa-plus fa-lg"></i>
  </button>
  <button
    type="button"
    class="spend-benny current-bennies"
    title="{{localize 'SWADE.CurrentBennies'}}"
  >
    {{data.data.bennies.value}}
  </button>
</div>

<span class="attributes primary">
  {{> "systems/swade/templates/official/partials/attributes.html"}}
</span>
<span class="attributes derived">
  <header class="section-header">{{localize "SWADE.Derived"}}</header>
  <span class="flexrow">
    <div class="stat">
      <span class="stat-label">{{ localize "SWADE.Size" }}</span>
      <span class="stat-value flexrow">
        <input
          name="data.stats.size"
          type="text"
          value="{{data.data.stats.size}}"
          data-dtype="Number"
        />
      </span>
    </div>
    <div class="stat">
      <span class="stat-label">{{localize "SWADE.Pace"}}</span>
      <span class="stat-value flexrow">
        <input
          type="text"
          value="{{data.data.stats.speed.adjusted}}"
          data-dtype="Number"
          placeholder="{{ localize 'SWADE.Pace' }}"
          disabled
        />
        <button
          type="button"
          class="running-die"
          title="{{localize 'SWADE.Roll'}} {{localize 'SWADE.RunningDie'}}"
          style="background-image: url(systems/swade/assets/official/dice/d{{data.data.stats.speed.runningDie}}.svg);"
        >
          <span class="sr-only"
            >d{{data.stats.speed.runningDie}} {{localize
            'SWADE.RunningDie'}}</span
          >
        </button>
      </span>
    </div>
    <div class="stat">
      <span class="stat-label">{{ localize "SWADE.Parry" }}</span>
      <span class="stat-value flexrow">
        <input
          name="data.stats.parry.value"
          value="{{data.data.stats.parry.value}}"
          type="text"
          placeholder="{{ localize 'SWADE.Parry' }}"
          data-dtype="Number"
          {{disabled
          data.data.details.autoCalcParry}}
        />
        <button type="button" class="parry-display">
          {{signedString data.data.stats.parry.modifier}}
        </button>
      </span>
    </div>
    <div class="stat">
      <span class="stat-label">{{ localize "SWADE.Tough" }}</span>
      <span class="stat-value flexrow">
        <input
          id="toughness"
          name="data.stats.toughness.value"
          type="text"
          value="{{data.data.stats.toughness.value}}"
          placeholder="{{localize 'SWADE.Tough'}}"
          data-dtype="Number"
          {{disabled
          data.data.details.autoCalcToughness}}
        />
        <button
          type="button"
          class="armor-display"
          {{disabled
          data.data.details.autoCalcToughness}}
        >
          {{data.data.stats.toughness.armor}}
        </button>
      </span>
    </div>
  </span>
</span>

<span class="skills note-box">
  <div class="note-header">&nbsp;</div>
  <div class="note-main">
    <header class="section-header">
      <span class="name">{{localize "SWADE.Skills"}}</span>
      <button type="button" class="item-create controls" data-type="skill">
        <i class="fa fa-plus"></i>{{localize "SWADE.Add"}}
      </button>
    </header>
    <ol class="skill-list">
      {{#each sortedSkills as |skill|}} {{>
      "systems/swade/templates/official/partials/skill-card.html"
      owner=../owner}} {{/each}}
    </ol>
  </div>
  <div class="note-footer">&nbsp;</div>
</span>
<span class="quickaccess note-box">
  <div class="note-header">&nbsp;</div>
  <div class="note-main">
    {{> "systems/swade/templates/official/partials/setting-fields.html"}}
    <header class="section-header">
      <span class="name">{{localize "SWADE.QuickAccess"}}</span>
      <button
        type="button"
        class="item-create controls"
        data-type="choice"
        data-equipped="true"
        data-choices="weapon,power,armor,shield,effect"
      >
        <i class="fa fa-plus"></i>{{localize "SWADE.Add"}}
      </button>
    </header>
    <ul class="effects-list">
      {{#each data.effects}}
      <li
        class="flexrow {{#unless origin}}active-effect{{/unless}} {{#if disabled}}disabled-effect{{/if}}"
        data-effect-id="{{_id}}"
      >
        <img src="{{icon}}" alt="{{label}}" class="effect-icon" />
        <span class="effect-label">{{label}}</span>
        <span class="effect-controls">
          <button type="button" class="effect-action" data-action="toggle">
            <i class="fas fa-power-off"></i>
          </button>
          <button type="button" class="effect-action" data-action="edit">
            <i class="fas fa-edit"></i>
          </button>
          {{#unless origin}}
          <a class="effect-action" data-action="delete">
            <i class="fas fa-trash"></i>
          </a>
          {{else}}
          <a class="effect-action" data-action="open-origin">
            <i class="fas fa-sign-out-alt"></i>
          </a>
          {{/unless}}
        </span>
      </li>
      {{/each}}
    </ul>
    <ol class="quick-list">
      {{#each itemsByType.weapon as |weapon|}} {{#if weapon.data.equipped}} {{>
      "systems/swade/templates/official/partials/item-card.html"}} {{/if}}
      {{/each}}
    </ol>
    {{#if actor.hasArcaneBackground}}
    <ol class="quick-list">
      {{#each itemsByType.power as |power|}} {{#if power.data.equipped}} {{>
      "systems/swade/templates/official/partials/item-card.html"}} {{/if}}
      {{/each}}
    </ol>
    {{/if}}
    <ol class="quick-list">
      {{#each itemsByType.armor as |armor|}} {{#if armor.data.equipped}} {{>
      "systems/swade/templates/official/partials/item-card.html"}} {{/if}}
      {{/each}}
    </ol>
    <ol class="quick-list">
      {{#each itemsByType.shield as |shield|}} {{#if shield.data.equipped}} {{>
      "systems/swade/templates/official/partials/item-card.html"}} {{/if}}
      {{/each}}
    </ol>
    <ol class="quick-list">
      {{#each itemsByType.gear as |gear|}}{{#if gear.data.equipped}}{{>
      "systems/swade/templates/official/partials/item-card.html"}}
      {{/if}}{{/each}}
    </ol>
  </div>
  <div class="note-footer">&nbsp;</div>
</span>
