<div
  class="swade chat-card item-card"
  data-actor-id="{{actor._id}}"
  data-item-id="{{_id}}"
  data-token-id="{{tokenId}}"
>
  {{#unless (isEmpty data.notes)}}
  <div class="chips">
    <p>
      <span class="bold"
        ><i class="fas fa-sticky-note"></i> {{localize "SWADE.Notes"}}:</span
      >
      {{data.notes}}
    </p>
  </div>
  {{/unless}} {{#if (eq type "armor")}}
  <div class="chips">
    <p>
      <span class="bold"
        ><i class="fas fa-shield-alt"></i> {{localize "SWADE.Armor"}}:</span
      >
      {{data.armor}}
    </p>
  </div>
  {{/if}} {{#if (and (eq type "weapon") data.range)}}
  <div class="chips">
    <p>
      <span class="bold"><i class="fas fa-ruler-combined"></i> Range:</span>
      {{data.range}}
    </p>
  </div>
  {{/if}} {{#if (and (eq type "weapon") (gt data.ap '0'))}}
  <div class="chips">
    <p>
      <span class="bold"><i class="fas fa-shield-alt"></i> AP:</span>
      {{data.ap}}
    </p>
  </div>
  {{/if}} {{#if (eq type "shield")}}
  <div class="chips">
    <p>
      <span class="bold"
        ><i class="fas fa-shield-alt"></i> {{localize "SWADE.Parry"}}:</span
      >
      {{data.parry}}
    </p>
  </div>
  {{/if}} {{#if hasAmmoManagement}}
  <div class="ammo-counter">
    <p>
      <span class="bold"
        ><i class="fas fa-dot-circle"></i> {{localize "SWADE.Mag"}}:</span
      >
      <span class="current-shots">{{currentShots}}</span>&nbsp;/&nbsp;<span
        class="max-shots"
        >{{shots}}</span
      >
      {{#if data.ammo}}&nbsp;- &nbsp;{{data.ammo}}{{/if}}
    </p>
  </div>
  {{/if}}

  <div class="card-buttons">
    {{#if hasReloadButton}}
    <button class="card-button" data-action="reload">
      {{localize "SWADE.Reload"}}
    </button>
    {{/if}}
  </div>

  {{#if (eq type "power")}} {{#unless powersTab}}
  <div class="pp-counter">
    <p>
      <span class="bold"
        >{{#if data.arcane}}{{data.arcane}} {{/if}}{{localize
        "SWADE.PP"}}:</span
      >
      <span class="current-pp">{{powerPoints.current}}</span>&nbsp;/&nbsp;<span
        class="max-pp"
        >{{powerPoints.max}}</span
      >
    </p>
  </div>
  {{/unless}} {{/if}}

  <div class="card-buttons">
    {{#if (eq type "power")}}
    <span class="flexcol">
      <span class="flexrow" style="display: flex">
        <label>
          <strong>{{localize "SWADE.PPCost"}}: </strong>
        </label>
        <input type="number" class="pp-adjust" value="{{data.pp}}" />
      </span>
      {{#unless powersTab}} {{#unless ../../../settingrules.noPowerPoints}}
      <span class="flexrow" style="display: flex">
        <button
          class="card-button"
          data-action="pp-adjust"
          data-adjust="plus"
          title="{{localize 'SWADE.AddPPDesc'}}"
        >
          &plus; {{localize "SWADE.Add"}}
        </button>
        <button
          class="card-button"
          data-action="pp-adjust"
          data-adjust="minus"
          title="{{localize 'SWADE.SubtractPPDesc'}}"
        >
          &minus; {{localize "SWADE.Subtract"}}
        </button>
      </span>
    </span>
    {{/unless}} {{/unless}} {{/if}} {{#unless powersTab}} {{#if hasSkillRoll}}
    <h4 class="actions-subheading">
      <i class="fas fa-bullseye"></i> {{localize "SWADE.TraitRolls"}}
    </h4>
    {{/if}} {{/unless}} {{#if hasSkillRoll}}
    <button class="card-button" data-action="formula">
      {{#if powersTab}}<i class="fas fa-hand-sparkles"></i> {{/if}}{{skill}}
    </button>
    {{/if}} {{#if hasAdditionalActions}} {{#each actions as |attr key|}} {{#if
    (eq attr.type "skill")}}
    <button class="card-button" data-action="{{attr.key}}">
      {{#if powersTab}}<i class="fas fa-hand-sparkles"></i> {{/if}}{{attr.name}}
    </button>
    {{/if}} {{/each}} {{/if}} {{#unless powersTab}} {{#if hasDamage }}
    <h4 class="actions-subheading">
      <i class="fas fa-tint"></i> {{localize "SWADE.DmgRolls"}}
    </h4>
    {{/if}} {{/unless}} {{#if data.damage}}
    <button class="card-button" data-action="damage">
      {{#if powersTab}}<i class="fas fa-tint"></i> {{/if}}{{data.damage}}
    </button>
    {{/if}} {{#if hasAdditionalActions}} {{#each data.actions.additional as
    |attr key|}} {{#if (eq attr.type "damage")}}
    <button class="card-button" data-action="{{key}}">
      {{#if ../powersTab}}<i class="fas fa-tint"></i> {{/if}}{{attr.name}}
    </button>
    {{/if}} {{/each}} {{/if}}
  </div>
</div>
