<form class="{{cssClass}} flexcol" autocomplete="off">
  {{!-- Item Sheet Header --}}{{>
  "systems/swade/templates/items/partials/header-delete.html"}}
  <main class="sheet-body">
    <div class="form-group">
      <label>{{localize "SWADE.Subtype"}}</label>
      <select name="data.subtype">
        {{#select data.data.subtype}}
        <option value="special">{{localize "SWADE.SpecialAbility"}}</option>
        {{#unless data.isOwned}}
        <option value="race">{{localize config.raceLocalizationKey}}</option>
        {{/unless}} {{/select}}
      </select>
    </div>
    {{#if (eq data.data.subtype "special")}}
    <div class="form-group">
      <label class="check-container">
        {{localize "SWADE.GrantsPowers"}}
        <input
          type="checkbox"
          name="data.grantsPowers"
          {{checked
          data.data.grantsPowers}}
          data-dtype="Boolean"
        />
        <span class="checkmark"></span>
      </label>
    </div>
    {{/if}} {{> "systems/swade/templates/items/partials/description.html"}}
    <br />
    {{#if (eq data.data.subtype "race")}}
    <header class="header-field flexrow">
      <span>{{localize "SWADE.RacialAbilities"}}</span>
    </header>
    {{{displayEmbedded data.flags.swade.embeddedAbilities}}} {{/if}} {{>
    "systems/swade/templates/setting-fields.html"}} {{>
    "systems/swade/templates/items/partials/ae-header.html"}} {{>
    "systems/swade/templates/effect-list.html"}}
  </main>
</form>
