<form class="{{cssClass}} flexcol" autocomplete="off">
  {{!-- Item Sheet Header --}} {{>
  "systems/swade/templates/items/partials/header-delete.html"}}
  <main class="sheet-body">
    <div class="tab active" data-group="primary" data-tab="summary">
      <div class="form-group">
        <label for="data.requirements.value">{{localize "SWADE.Req"}}:</label>
        <input
          name="data.requirements.value"
          type="text"
          value="{{data.data.requirements.value}}"
          placeholder="{{localize 'SWADE.Req'}}"
          data-dtype="String"
        />
      </div>
      <div class="form-group">
        <label class="check-container"
          >{{localize "SWADE.ArcBack"}}
          <input
            type="checkbox"
            name="data.isArcaneBackground"
            {{checked
            data.data.isArcaneBackground}}
            data-dtype="Boolean"
          />
          <span class="checkmark"></span>
        </label>
      </div>
      {{> "systems/swade/templates/setting-fields.html"}} {{>
      "systems/swade/templates/items/partials/description.html"}}
    </div>
    <div class="tab" data-group="primary" data-tab="actions-effects">
      {{> "systems/swade/templates/items/partials/ae-header.html"}} {{>
      "systems/swade/templates/effect-list.html"}}
      <br />
    </div>
  </main>
</form>
