<form class="{{cssClass}} flexcol" autocomplete="off">
  {{!-- Item Sheet Header --}} {{>
  "systems/swade/templates/items/partials/header.html"}}
  <main class="sheet-body">
    <div class="flexrow tab active" data-group="primary" data-tab="summary">
      <section class="item-stats">
        <header class="header-field">
          <span>{{localize "SWADE.Details"}}</span>
        </header>
        <div class="form-group">
          <label class="check-container"
            >{{localize "SWADE.Equipped"}}
            <input
              type="checkbox"
              name="data.equipped"
              {{checked
              data.data.equipped}}
              data-dtype="Boolean"
            />
            <span class="checkmark"></span>
          </label>
        </div>
        <div class="form-group">
          <label for="data.quantity">{{localize "SWADE.Quantity"}}</label>
          <span class="form-fields">
            <input
              name="data.quantity"
              type="text"
              value="{{data.data.quantity}}"
              placeholder="{{localize 'SWADE.Quantity'}}"
              data-dtype="Number"
          /></span>
        </div>
        <div class="form-group">
          <label for="data.parry">{{localize "SWADE.Parry"}}</label>
          <span class="form-fields">
            <input
              name="data.parry"
              type="text"
              value="{{data.data.parry}}"
              placeholder="{{localize 'SWADE.Parry'}}"
              data-dtype="Number"
          /></span>
        </div>
        <div class="form-group">
          <label for="data.cover">{{localize "SWADE.Cover"}}</label>
          <span class="form-fields">
            <input
              name="data.cover"
              type="text"
              value="{{data.data.cover}}"
              placeholder="{{localize 'SWADE.Cover'}}"
              data-dtype="Number"
          /></span>
        </div>
        <div class="form-group">
          <label for="data.minStr">{{localize "SWADE.MinStrShort"}}</label>
          <span class="form-fields">
            <input
              name="data.minStr"
              type="text"
              value="{{data.data.minStr}}"
              placeholder="{{localize 'SWADE.MinStr'}}"
              data-dtype="String"
          /></span>
        </div>
        <div class="form-group">
          <label for="data.weight">{{localize "SWADE.Weight"}}</label>
          <span class="form-fields">
            <input
              name="data.weight"
              type="text"
              value="{{data.data.weight}}"
              placeholder="{{localize 'SWADE.Weight'}}"
              data-dtype="Number"
          /></span>
        </div>
        <div class="form-group">
          <label for="data.price">{{localize "SWADE.Price"}}</label>
          <span class="form-fields">
            <input
              name="data.price"
              type="text"
              value="{{data.data.price}}"
              placeholder="{{localize 'SWADE.Price'}}"
              data-dtype="Number"
          /></span>
        </div>
        <div class="form-group">
          <label for="data.notes">{{localize "SWADE.Notes"}}</label>
          <span class="form-fields">
            <input
              type="text"
              name="data.notes"
              value="{{data.data.notes}}"
              placeholder="{{localize 'SWADE.Notes'}}"
              data-dtype="String"
          /></span>
        </div>
      </section>
      <section>
        {{> "systems/swade/templates/setting-fields.html"}} {{>
        "systems/swade/templates/items/partials/description.html"}}
      </section>
    </div>
    <div class="tab" data-group="primary" data-tab="actions-effects">
      {{> "systems/swade/templates/items/partials/actions.html"}} {{>
      "systems/swade/templates/items/partials/ae-header.html"}} {{>
      "systems/swade/templates/effect-list.html"}}
      <br />
    </div>
  </main>
</form>
